{% extends 'base.html.twig' %}
{% block body %}
    <div id="colorlib-main">
        <section class="ftco-section-2">
            <div class="photograhy">
                <div class="row no-gutters">
                    <div class="col-md-4 ftco-animate">
                        <h1><b>Book catalog</b></h1>
                        <table>
                            <tr>
                                <th> </th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Description</th>
                            </tr>
                {% for book in books %}
                   <tr>
                       <th><a href="{{ path('app_store_bookpage', {slug: book.id}) }}">
                               <img class="article-img"  width="100" height="130" src="{{ asset( book.imageUrl) }} ">
                           </a></th>
                       <th><a href="{{ path('app_store_bookpage', {slug: book.id}) }}">{{ book.title }}</a></th>
                       <th>{{ book.author }}</th>
                       <th>{{ book.description }}</th>
                       <tr>
                {% endfor %}
                        </table>
                        {{ knp_pagination_render(books) }}
            </div>
                </div>
            </div>
        </section>
        </div>
    </div>

{% endblock %}
