{% extends 'base.html.twig' %}
{% block body %}
        <div id="colorlib-main">
            <section class="ftco-section-2">
                <div class="photograhy">
                    <div class="row no-gutters">
                        <div class="col-md-4 ftco-animate">
                            <h1><b> {{ book.title }} </b></h1>
                            <img class="article-img"  width="400" height="560" src="{{ asset( book.imageUrl) }} "/>
                            <h3><b>Author: {{ book.author }} </b></h3>
                            <blockquote>{{ book.description }}</blockquote>
                            <table>
                            {% for comment in comments %}
                                <tr>
                                    <th>{{ comment.authorName }}:</th>
{#                                    <th>{{ comment.email }}</th>#}
                                    <th>{{ comment.content }}</th>
                                </tr>
                            {% endfor %}
                            </table>
                            <div>
                                <h3><b>Add a comment</b></h3>
                                {{ form_start(commentForm) }}
                                {{ form_widget(commentForm) }}
                                <button type="submit" class="btn btn-primary">Create!</button>
                                {{ form_end(commentForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>

{% endblock %}
